---
const baseURL = import.meta.env.BASE_URL
---

<head>
  <title>Generate QR</title>
</head>
<section class='container'>
  <h1>Generador de QR</h1>
  <figure id='qr-result' class='qr-wrapper'></figure>
  <form id='form'>
    <label class='wrapper-input'>
      <span class='label'>Introduce un link del sitio que quieres generar</span>
      <input type='text' name='url' class='input' placeholder='https://...' />
    </label>
  </form>
</section>

<style>
  :root {
    --color-cyan-50: #ecfeff;
    --color-cyan-100: #cffafe;
    --color-cyan-200: #a5f3fc;
    --color-white: #ffffff;
    --color-text: #1e293b;
  }

  body {
    font-family: system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-cyan-50);
    color: var(--color-text);
    margin: 0;
  }

  .container {
    max-width: 480px;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-cyan-200);
  }

  .qr-wrapper {
    margin: 0;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--color-cyan-100);
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  .wrapper-input {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.25rem;
    margin-bottom: 1rem;
  }

  .label {
    font-size: 0.875rem;
    margin-left: 0.25rem;
  }

  .input {
    padding: 0.5rem;
    border: 1px solid var(--color-cyan-100);
    border-radius: 0.5rem;
    outline: none;
    transition: box-shadow 0.2s ease;
  }

  .input:focus,
  .input:active {
    box-shadow: 0 0 0 2px var(--color-cyan-200);
  }
</style>

<script define:vars={{ baseURL }}>
  console.log({ baseURL })
  const form = document.getElementById('form')

  form.addEventListener('submit', (evt) => {
    evt.preventDefault()

    const url = new URL(evt.target.url.value)

    fetch(`${baseURL}/api/generate-qr`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        url: url.toString(),
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        const qrContainer = document.getElementById('qrContainer')
        qrContainer.innerHTML = data.url
      })
  })
</script>
